.MadLibForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    border: .5px solid lightgray;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

input, label, button{
    margin-top: 10px;
}

input {
    width: 80%;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 40%;
}
